/* Developers.css */
.sub-paragraph {
    width: 80%; /* Adjust the width as needed */
  }

.box-width {
    width: 600px;
    height: 350px;
}

.img-width {
    width: 300px;
    height: auto;
    background-size: cover;
}


  