/* Developers.css */
.sub-paragraph {
    width: 80%; /* Adjust the width as needed */
  }

.box-width {
    width: 650px;
    height: 375px;
    background-color: rgb(244, 244, 244, 0.5);
    /* border: 0.5px, #313131 solid; */
    border: none;
}

.img-width {
    width: 300px;
    height: auto;
    background-size: cover;
}


  